<a href="https://colab.research.google.com/github/Suvaya/PythonColab/blob/main/Lists_Hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.

In [ ]:
students = ["Alish Tuladhar","Arbin Shrestha","Shreejan Shrestha","Shrijan Shrestha","Pratik Kunwar","Nischal K.C.","Suvaya Shrestha","Binay Paudel","Sudip Chaudhary","Aayush Khatri"]

B_names = [name for name in students if name[0] in 'B']
    
B_names.sort()

print("The students whose name starts with B is: {}" .format(B_names))

2. Make a list of ten students in your class. Print the name of each student whose name starts with 'A'.

In [ ]:
students = ["Alish","Nawaraj","Aadarsha","Diwash","Nayan","Shrijan","Albin","Suvaya","Sudip","Krisha"]

names_a = [name for name in students if name.endswith('a')]
    
names_a.sort()

print("The students whose name ends with A are: {}" .format(names_a))

3. Print all the unique elements in the following list :

In [ ]:
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']

unique = list(set(fifa))

print("The unique elements are: {}" .format(unique))

4. Change the first alphabet of all elements of the following list to capital.

In [ ]:
bob = ['hurricane', 'tambourine', 'blowing', 'numb']

Bob = [elements.title() for elements in bob]

print(Bob)

5. A = [‘a’,’b’,’c’,’d’] B = [‘1’,’a’,’2’,’b’]
Find  AUB and A∩B.

In [ ]:
A = ['a', 'b', 'c', 'd']

B = ['1', 'a', '2', 'b']

setOne = set(A)

setTwo = set(B)

print("\nUnion of Two Sets A and B are:")

Union = setOne | setTwo

AUB = list(Union)

AUB.sort()

print(AUB)

print("\nAnd the intersection of Two Sets A and B are:")

Intersection = setOne & setTwo

A_B = list(Intersection)

A_B.sort()

print(A_B)

6. Calculate the mean and standard deviation of the following list:

In [45]:
import math

Numbers = [1, 2, 3, 5, 88, 99, 55, 33, 41, 52]

sumX = sum(Numbers)

N = len(Numbers)

Mean = sumX/N

X2 = [number ** 2 for number in Numbers]

sumX2 = sum(X2)

sd = math.sqrt((sumX2/N) - (sumX/N)**2)

print("The mean and the standard deviation of the list are {} and {:.6f} respectively." .format(Mean, sd))

The mean and the standard deviation of the list are 37.9 and 34.232879 respectively.